body {
    background-image: url(../images/4028065.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(167, 167, 187, 0.66);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 11px;
    top: 0px;
  }
  
  .d-none {
    display: none!important;
  }
  
  
  .navbar {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(167, 167, 187, 0.66);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
    bottom: -10px;
    text-align: center;
    list-style-type: none;
  }
  
  .submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
  }
  
  .conteudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
  }
  
  .conteudo input {
    margin-bottom: 8px;
  }
  
  .conteudo form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  
  a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-style: oblique;
    width: 10px;
    height: 10px;
    padding: 12px;
  }
  
  .navbar a:hover {
    background: rgb(255, 255, 255);
    transition: 1s;
  }
  
  .container {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(167, 167, 187, 0.66);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 20px;
    display: flex;
    width: 90vw;
    height: 90vh;
  }
  
  .submenu > div {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 8px;
    width: 250px;
    height: 20px;
    transition: all 200ms;
  }
  
  .submenu > div:hover{
    background-color: #161629;
    transform: scale(1.05)
  
  }

  .content {
    display: none;
    height: 100px;
    width: 100px;
    top: 0px;
    padding: 100px;
    padding-bottom: 0px;
  }
  
  .content form {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  form input {
    border: 1px solid #000000;
    border-radius: 20px;
    padding-left: 8px;
    width: 100%;
    height: 24px;
  }
  
  form input:focus {
    background-color: #bfb0c5;
  }

  .botao {
    background-color: #f3f3d4;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 30px;
    padding: 0 25px;
    transition: all 200ms;
  }
  
  .botao:hover{
    background-color: #e6e2af;
    transform: scale(1.05)
  }
  
  input {
    border: 1px solid #000000;
    border-radius: 20px;
    padding-left: 8px;
    width: 100%;
    height: 24px;
  }
  
  p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }
  